h1 {
    border: 2px #eee solid;
    color: rgb(64, 42, 21);
    text-align: center;
    padding: 10px;
}

p1 {
    border: 2px #eee solid;
    color: rgb(64, 42, 21);
    text-align: center;
    padding: 10px;
}